footer, .footer{
	background:$darkGrey;
	color:$white;
	
	.colophon{
		font-size:0.750rem;
	}
	
	hr {
		padding: 0;
		border: none;
		border-top: solid 2px rgba($white, 0.25);
		color: rgba($white, 0.25);
    		text-align: center;
    }
    hr:after{
    		content: "MLO";
    		display: inline-block;
    		position: relative; 
    		top: -0.7em;  
    		font-size: 1.5em;
    		padding: 0 0.25em;
    		background: $darkGrey;
    	}
	.widget{
		.title{
			padding: rem-calc(5 0);
			color:$white;
			font-size: rem-calc(18);
			font-weight: bold;
		}
	}
}