body{
	&.admin-bar .inner-wrap{
		margin-top: rem-calc(35);
	}
	
	a{
	text-decoration: none;
	}
}

.container{
	padding: rem-calc(25 0);
	
	&.feature{
		background:scale-color($crumb-bg, $lightness: 75%);
		@include box-emboss(0.15,0.25);
		
		.panel{
			//@include panel($bg:$white, $adjust:false);
			min-height: rem-calc(300);
			background: scale-color($lightGrey, $lightness: 90%);
		}
		
		.title{
			font-size:rem-calc(18);
			color:$primary-color;
			padding:rem-calc(5 10);
			text-align: center;
		}
		img {
			padding: rem-calc(10);
			display:block;
			
			&.rounded{
				@include border-radius($global-rounded);
				height: 150px;
				width:150px;

			}
			&.align-middle{
				display: block;
				margin: 0 auto;
			}	
		}
	}
	
	&.author{
		
		.avatar{
			margin:rem-calc(0 0 10 25);
			float:right;
			padding:5px;
			background: #e9e9e9;
			border: solid 1px #ccc;
			@include border-radius($global-rounded);
		}
	}
	&.comments{
		background: $crumb-bg;
		@include box-emboss(0.5, 0.5);
		
		@import "comments";
	}	
}
.box-emboss{
	@include box-emboss(0.5, 0.5);
}

.uppercase{
	text-transform: uppercase;
}

// Wordpress Specific classes

.widget{
	background: none;
	
	.title{
		padding: rem-calc(5 0);
		font-size: rem-calc(16);
		font-weight: bold;
	}
	
	ul, ol{
		list-style: none;
		padding: 0; margin: 0;
	}
//	form{
//		background: scale-color($primary-color, $lightness:10%);
//		border: solid 1px scale-color($primary-color, $lightness: -10%);
//		margin: 0 auto; padding: rem-calc(10);
//		color:$white;
//		
//		div { position: relative; }
//		label {
//     		display: none;
//	 	}
//	 	input, textarea{
//		 	background: rgba($white, 0.75);
//		 	border: solid 1px $white;
//	 	}
//	 	input[type=button], input[type=submit], button{
//		 	background: $white;
//		 	padding: rem-calc(10 15);
//		 	color:$darkGrey;
//		 	float: right;
//		 			 	
//	 	}
//	 	&:after{
//			 height: 1px;
//			clear: both;
//			display: block;		 	
//		}
//	}
	
}

// calendar widget 
.widget_calendar{
		float:left;
	}
#wp-calendar{ 
	width:100%;
	font-size:rem-calc(11);
	border-collapse: collapse;
	
	caption{
		cursor: pointer;
		text-align: center;
		color:$white;
		margin: 0;
		outline: none; 
		background: $primary-color;
		padding: rem-calc(8);
		text-transform: uppercase;
		font-size:rem-calc(11);
	}
	thead{
		th{ 
			background: #f5f5f5;
			border: 1px solid #ddd;
			border-top: none;
			text-align: center;
			padding: rem-calc(7 0);
			color: #a7a7a7;
			font-size:rem-calc(11);
		}
	}
	tbody{			
		
		td{
			text-align: center;
			border: 1px solid #ddd;
			@include transition(background, 0.15s, ease);
			font-size:rem-calc(11);
			
			&:hover{
				background: #f1f1f1;
				color:#333;
			}
			a{
				display: block;
				text-decoration: none;
				color: #333;
				
				&:hover{
					color:$darkGrey;
				}
			}
			
		}
		.pad{
			background: none;
		}
	}
	tfoot{
		font-size:rem-calc(11);
		#next{
			text-transform: uppercase;
			text-align: right;
		}
		#prev{
			text-transform: uppercase;
			text-align: left;
		}
	}
}

.avatar{
	margin:rem-calc(0 25 10 0);
	padding:5px;
	background: #e9e9e9;
	border: solid 1px #ccc;
	@include border-radius($global-rounded);
}
.panel{
	&.profile{
		background: scale-color($primary-color, $lightness: 90%);
		border-color: scale-color($primary-color, $lightness: 40%);
	
		.title{
			font-size: rem-calc(14);
			font-weight: bold;
			a{
				color: $primary-color;	
			}
			
			
		}
	}
}
.menu{
	background: none;
	list-style: none;
	margin: 0; padding: 0;
	
	> li{
		padding: 0; margin: 0;
		border-bottom: solid 1px scale-color($crumb-bg, $lightness: -10%);

		a{
			padding:rem-calc(5 10);
			display: block;
			@include transition(all, 500ms, ease-in-out);
							
			&:hover{
				background: $crumb-bg;
			}
		}
		
		&.active > a{
			border-left: solid 3px $primary-color;
			background: scale-color($crumb-bg, $lightness: 10%);
		}
		
		&:last-child{ 
			border:none;
		}
		
		.sub-menu{
			padding: rem-calc(10);
			border-left: solid 3px scale-color($crumb-bg, $lightness: -10%);
			border-top: solid 1px scale-color($crumb-bg, $lightness: -10%);
			padding: rem-calc(0 0 0 10);
			margin: 0;
			
			.active{
				font-weight: bold;
			}
		}
	}
}
.pushbutton-wide { 
	@include button; 
}